.app {
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: absolute;
    width: 100%;
}

.app .div {
  	height: 100%;
}

.app .content {
	flex: 1 0 auto;
}

::-webkit-scrollbar {
  	width: 8px;
}

::-webkit-scrollbar-track {
  	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: 10px;
}

.app .footer {
	height: 5vh;
	flex-shrink: 0;
	background: #2e2e2e;
	display: flex;
	align-items: center;
}