.app {
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: absolute;
	width: 100%;
}

.app .body {
	height: 100%;
	width: 100%;
}

.login-card {
	height: inherit;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	width: 20%;
	min-width: 257px;
	height: 40%;
	min-height: 348px;
	background-color: #444444;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.login-field {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.login-field-email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 5px;
}

.login-field-pwd {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 20px;
}

.login-field-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 5px;
}

.login-field-email .login-text,
.login-field-pwd .login-text {
	margin-top: 5px;
	width: 80%;
	height: 30px;
	font-size: 16px;
	text-align: center;
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	border-bottom: 2px solid rgb(53, 53, 53);
	background-color: transparent;
	color: white;
}

.login-field-email .login-text:hover,
.login-field-pwd .login-text:hover,
.login-field-email .login-text:active,
.login-field-pwd .login-text:active,
.login-field-email .login-text:focus-visible,
.login-field-pwd .login-text:focus-visible {
	border-bottom: 2px solid rgb(31, 31, 31);
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	outline: -webkit-focus-ring-color none 0px;
}

.login-text::placeholder {
	color: rgba(255, 255, 255, 0.75);
	opacity: 1;
}

.login-text:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

.login-text::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

.login-button {
	width: 50%;
	height: 30px;
	margin-top: 20px;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.2s ease-in;
	color: black;
	background-color: white;
	border: 0px none;
}

.login-button:hover {
	width: 55%;
	height: 35px;
	background-color: rgb(77, 255, 115);
	box-shadow: 0px 0px 20px rgb(77, 255, 115);
}

p {
	display: block;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

hr {
	width: 95%;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

a {
	text-decoration: none;
	color: white;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: 10px;
}

.register-card {
	height: inherit;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register {
	width: 20%;
	min-width: 257px;
	height: 50%;
	min-height: 470px;
	background-color: #444444;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.register-field {
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.register-field-username {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 5px;
}

.register-field-email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 20px;
}

.register-field-pwd {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 20px;
}

.register-field-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 5px;
}

.register-field-username .register-text,
.register-field-email .register-text,
.register-field-pwd .register-text {
	margin-top: 5px;
	width: 80%;
	height: 30px;
	font-size: 16px;
	text-align: center;
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	border-bottom: 2px solid rgb(53, 53, 53);
	background-color: transparent;
	color: white;
}

.register-field-username .register-text:hover,
.register-field-email .register-text:hover,
.register-field-pwd .register-text:hover,
.register-field-username .register-text:active,
.register-field-email .register-text:active,
.register-field-pwd .register-text:active,
.register-field-username .register-text:focus-visible,
.register-field-email .register-text:focus-visible,
.register-field-pwd .register-text:focus-visible {
	border-bottom: 2px solid rgb(31, 31, 31);
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	outline: -webkit-focus-ring-color none 0px;
}

.register-text::placeholder {
	color: rgba(255, 255, 255, 0.75);
	opacity: 1;
}

.register-text:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

.register-text::-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

.register-button {
	width: 50%;
	height: 30px;
	margin-top: 20px;
	border-radius: 20px;
	cursor: pointer;
	transition: all 0.2s ease-in;
	color: black;
	background-color: white;
	border: 0px none;
}

.register-button:hover {
	width: 55%;
	height: 35px;
	background-color: rgb(77, 255, 115);
	box-shadow: 0px 0px 20px rgb(77, 255, 115);
}